#spring.application.name=ecom-application
#spring.datasource.driver-class-name=org.postgresql.Driver
#spring.datasource.url=${DB_URL}
#spring.datasource.username=${DB_USERNAME}
#spring.datasource.password=${DB_PASSWORD}
#spring.jpa.hibernate.ddl-auto=create
spring:
  application:
    name: ecom-application

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: on

# Exposing all the actuator end points
management:
  endpoints:
    web:
      exposure:
        include: '*'

  endpoint:
    health:
        show-details: always
  info:
    env:
      enabled: true

info:
  app:
    name: MyWebApp
    description: App build by us
    version: 2.0.0